body {
    color: white;
    background-color: black;
    /* background-image:linear-gradient(to bottom, rgba(0,155,0,0.4), rgba(0,0,0230,0.4) ); */
}

h1 {
    color: goldenrod;
}

h2 {
    color: deeppink;
}

h3 {
    color: plum;
}

.next2 {
    font-size: large;
    font-family: 'Lato';
    font-weight: 700;
    color: green;
    gap: 10px;
    border: 2px solid blue;
    text-decoration: none;
    text-align: center;
}

.syntax {
    border: 2px solid gold;
    border-radius: 20px;
    text-align: center;
    height: 20%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next3 {
    font-size: large;
    font-family: 'Lato';
    font-weight: 700;
    color: green;
    gap: 10px;
    border: 2px solid blue;
    text-decoration: none;
    text-align: center;

}

.example{
    border: 2px solid rgba(176, 119, 40, 0.647);
    border-radius: 10px;
    text-align: center;
    height: 20%;
    width: 60%;
    
}
.flow-chart{
    width: 30px;
    height: 20px;
}
.btn-last{
    display: flex;
    justify-content: space-evenly;
    gap: 550px;
}